body{
    background-color: rgb(141, 237, 237);
    font-family:Arial, Helvetica, sans-serif;
}
.water-container{
    border: 2px solid rgb(228, 251, 253);
    background-color:  rgb(228, 251, 253);
    width: 350px;
    padding-top: 0;
    padding-bottom: 75px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 40px;


}
.tapwater-value{
    border: 0.5px solid rgb(255, 255, 255);
    
    background-color: white;
    border-radius: 5px;
    padding-right: 100px;
    text-align: center;
    color: rgb(136, 136, 136);
    transition: color 0.2s;
    margin-bottom: 5px;

   
}
.tapwater-value:hover{
    color: black;
       background-color: rgb(217, 216, 216);
}
.rainwater-value{
    border: 0.5px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(136, 136, 136);
    border-radius: 5px;
    padding-right: 89px;
    border-top: 1px;
    transition: color 0.2s;
    text-align: center;
}
.rainwater-value:hover{
    color: black;
    background-color: rgb(217, 216, 216);
}
#tempvalue{
    width: 247px;
    
}
#submit{
    background: linear-gradient(45deg,rgb(0, 255, 0),rgb(0, 247, 255));
   
    color: white;
    border: none;
    border-radius: 30px;
    width: 150px;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-left: 80px;
}
#submit:hover{
    background: linear-gradient(45deg,rgb(4, 196, 4),rgb(2, 192, 199));
}
#result{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 40px;
    border: 2px solid antiquewhite;
     width: 250px;
     background-color: antiquewhite;
     border-radius: 5px;
     text-align: center;
     padding-left: 50px;
     padding-right: 50px;
     
    

}









